{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields.layers %}
    <section class="accordion {% if fields.class %}{{ fields.class }}{% endif %}" {% if fields.style %}style="{{ fields.style }}"{% endif %}>
        <div class="accordion__radios">
        {% for layer in fields.layers %}
            <label for="{{ fields.name }}__{{ loop.index }}">
                <span>
                {{ layer.label }}
                </span>
                <svg>
                    <use href="{{ svg_sprite }}#{{ layer.icon ? layer.icon : "icon-arrow" }}"></use>
                </svg>
            </label>
        {% endfor %}
        </div>

        <div class="accordion__contents">
        {% for layer in fields.layers %}
            <label for="{{ fields.name }}__{{ loop.index }}">
                <input type="radio" id="{{ fields.name }}__{{ loop.index }}" name="{{ fields.name }}" {% if loop.first %}checked{% endif %}>
                <span class="accordion__article">
                    {{ layer.title }}
                    {{ layer.text }}
                </span>
            </label>
        {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}
