{% extends "overall/block-base.twig" %}

{% block block %}
    {% if fields.cards %}
        <section class="card-grid {% if fields.class %} {{ fields.class }} {% endif %}" {% if fields.style %} style="{{ fields.style }}" {% endif %}>
            {% for card in fields.cards %}
                <div class="card">
                    {% if card.picture %}
                        <img src="{{ card.picture }}" alt="{{ card.title }}"/>
                    {% endif %}

                    {% if card.layers  %}
                        {% for item in card.layers %}
                            <img src="{{ item.layer }}"
                                 class="{% if card.animation %}{{card.animation}}{% endif %}__{{loop.index}}"
                                 alt="{{ card.title }}"/>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </section>
    {% endif %}
{% endblock %}
