{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields %}
    <div class="contacts {% if fields.class %}{{ fields.class }}{% endif %}" {% if fields.style %}style="{{ fields.style }}"{% endif %}>
        <form method="post" class="contacts__form" novalidate>
            {% if fields.inputs %}
            <div class="contacts__inputs">
                {% for input in fields.inputs %}
                {% if input.type != 'textarea' %}
                <label class="decorBorder leftToTop">
                    <span>{{ input.title }}</span>

                    <input type="{{ input.type }}" name="{{ input.name }}" placeholder="{{ input.placeholder }}" autocomplete="off">
                </label>
                {% endif %}
                {% endfor %}
            </div>

            <div class="contacts__textarea">
                {% for input in fields.inputs %}
                {% if input.type == 'textarea' %}
                <label class="decorBorder leftToTop">
                    <span>{{ input.title }}</span>

                    <textarea name="{{ input.name }}" placeholder="{{ input.placeholder }}"></textarea>
                </label>
                {% endif %}
            {% endfor %}
            </div>
            {% endif %}

            {% if fields.button %}
            <div class="contacts__button">
                {% include 'overall/button.twig' with fields.button %}
            </div>
            {% endif %}

            {% if fields.decor %}
            {% for decor in fields.decor %}
            <svg class="decor" aria-hidden="true">
                <use href="{{ svg_sprite }}#{{ decor }}" />
            </svg>
            {% endfor %}
            {% endif %}
        </form>
    </div>
    {% endif %}

{% endblock %}
