{% extends "overall/block-base.twig" %}

{% block block %}

    {% if fields.layers %}
    <section class="tab {% if fields.class %}{{ fields.class }}{% endif %}" {% if fields.style %}style="{{ fields.style }}"{% endif %}>
        <div class="tab__radios">
        {% for layer in fields.layers %}
            <label class="decorBorder leftToTop" for="{{ fields.name }}__{{ loop.index }}">
                <span class="title">
                {{ layer.label }}
                </span>
                <svg>
                    <use href="{{ svg_sprite }}#icon-arrow"></use>
                </svg>
            </label>
        {% endfor %}
        </div>

        <div class="tab__contents">
        {% for layer in fields.layers %}
            <div class="tab__content">
                <label for="{{ fields.name }}__{{ loop.index }}">
                    <input type="radio" id="{{ fields.name }}__{{ loop.index }}" name="{{ fields.name }}" {% if loop.first %}checked{% endif %} hidden>
                </label>

                <div class="tab__title">
                    {% if layer.title %}
                        {{ layer.title }}
                    {% endif %}
                </div>

                <article class="tab__article typo">
                {% if layer.img %}
                    <figure>
                        <img src="{{ layer.img }}" alt="{{ layer.label }}">
                    </figure>
                {% endif %}

                {% if layer.text %}
                {{ layer.text }}
                {% endif %}
                </article>
            </div>
        {% endfor %}
        </div>
    </section>
    {% endif %}

{% endblock %}
