{# has  3 slyles  hover-up flip and default #}
<div class="cardProject {% if class %}{{ class }}{% endif %}">
    <div class="inner">
        {% if project.src %}
        <figure class="front">
            <img src="{{ project.src }}" alt="{{ project.title }}">
        </figure>
        {% endif %}

        {% if project.title or project.description or project.button %}
        <div class="back decorBorder leftToTop">
            {% if project.title and project.href %}
            <span><a class="link" href="{{ project.href }}" target="_blank">{{ project.title }}</a></span>
            {% endif %}

            {% if project.description %}
            <p class="description">{{ project.description }}</p>
            {% endif %}


            {% if project.button %}
            {% include 'overall/button.twig' with project.button %}
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>