<head>
    <meta http-equiv="Content-Type" content="text/html; charset={{ site.charset }}"/>
    <link rel="shortcut icon"
          sizes="32x32"
          href="{{ site.url }}/assets/img/icon.png?ver={{ assets_version }}"
          type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name='robots' content='noindex, nofollow'/>
    <title>{{ html_title }}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel='preconnect' href="https://fonts.gstatic.com" crossorigin>
    <link rel='stylesheet'
          id='main-css'
          href='{{ site.url }}/assets/css/style.min.css?ver={{ assets_version }}'
          type='text/css'
          media='all'/>
    {{ all_blocks_styles }}
</head>
